@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --bg-dark: #21272E;
    --bg-gray: #293039;
    --gray2: #4B576A4D;
    --panel-bg: rgb(30, 32, 40);
    --th-bg: rgb(40, 42, 50);
    --text-active: #ACBBCD;
    --text-inactive: #4B576A;
    --accent: #6EDAD5;
    --accent2: #8b5cf6;
    --red: #F27AB8;
    --red2: #F24953;
    --yellow: #FFCC00;
    --success: #4cd964;
    --radius: 12px;

}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1c1c1e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3d3d40, #5e5e63);
  border-radius: 10px;
  border: 2px solid #1c1c1e;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #5e5e63, #7f7f85);
}


* {
    scrollbar-width: thin;
    scrollbar-color: #5e5e63 #1c1c1e;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0 auto;
    background: var(--bg-dark);
    color: var(--text-active);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

h1 {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: var(--accent);
    margin-bottom: 20px;
}

.container {
    width: 100%;
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    
}
input {
  background: var(--panel-bg);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 14px;
  color: var(--text-color);
  border-radius: var(--radius);
  width: 260px;
  backdrop-filter: blur(8px);
  transition: all 0.2s ease;
}

input:focus {
  outline: none;
  border-color: var(--accent);
  /* box-shadow: 0 0 10px rgba(110, 218, 213, 0.4); */
}

button {
  /* background: linear-gradient(90deg, var(--accent) 0%, var(--accent2) 100%); */
  /* background: linear-gradient(90deg, #4cd964 0%, #3ac15e 100%); */
  color: var(--text-active);
  height: 40px;
  border: none;
  padding: 10px 20px;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
}

/* dropdown */
.wss-select {
    position: relative;
}

.wss-input {
    cursor: pointer;
}
.wss-select svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* чтобы клик проходил сквозь */
    transition: transfrom 0.3 ease-in-out;
}

.wss-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 5px;
    background: var(--bg-gray);
    border-radius: 10px;
    border: 1px solid var(--text-inactive);
    max-height: 150px; /* помещается 3 пункта */
    overflow-y: auto;
    z-index: 5;
}

.wss-dropdown.show {
display: block;
}

.wss-select.open svg {
transform: translateY(-50%) rotate(180deg);
}

.wss-dropdown .option {
padding: 10px;
font-size: 14px;
cursor: pointer;
border-radius: 6px;
transition: background 0.2s;
}

.wss-dropdown .option:hover {
background: var(--text-inactive);
}



#connectBtn {
  background: var(--accent);
  color: var(--text-inactive);
}


#disconnectBtn {
    background: var(--gray2);
    color: var(--text-active);
  
}

button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

button:active {
  transform: scale(0.97);
  opacity: 0.9;
}

.status-container{
    margin: 10px 0 20px 0;
    width: 100%;
    gap: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#status {
    padding: 10px 20px;
    background: var(--bg-dark);
    border-radius: var(--radius);
    font-weight: 500;
    text-align: center;
    width: fit-content;
}

#status.disconnected {
    border: 1px solid var(--red);
    color: var(--red);
}

#status.connected {
    border: 1px solid var(--accent);
    color: var(--accent);
}

#resetMaxBtn {
    height: 40px;
    padding: 10px 20px;
    color: var(--text-active);
    background: var(--gray2);
}


.team-container {
    width: 100%;
    background: var(--bg-dark);
    border-radius: var(--radius);
    border: 1px solid var(--text-inactive);
    backdrop-filter: blur(8px);
    /* min-height: 300px; */
    overflow: hidden; /* <-- теперь содержимое обрезается */
    position: relative;
}
.team-scroll {
    overflow-x: auto;
    border-radius: inherit;
}


table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-active);

}

th {
    background: var(--bg-gray);
    text-align: left;
    padding: 12px;
    font-weight: 600;
    color: var(--text-active);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    white-space: nowrap;
    font-weight: 600;
}

td {
  font-weight: 400;
  font-size: 0.9rem;
  padding: 10px;
  border-bottom: 1px solid var(--text-inactive);
  white-space: nowrap;
}

tr:hover {
  background: var(--bg-gray);
  transition: background 0.2s ease;
}

button.reset{
    padding: 10px 20px;
    color: var(--text-active);
    background: var(--gray2);
}

.overdata{
    color: var(--red2);
}
.mediumdata{
    color: var(--yellow);
}


@media screen and (max-width: 768px) {
    .container{
        width: 80%;
        flex-direction: column;
        justify-content: space-between;
    }
    input {
        width: 100%;
    }
    .status-container{
        flex-direction: column;
        width: 80%;
    }
    #status{
        width: 100%;
    }
    #resetMaxBtn {
        width: 100%;
    }
    h1{
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .container{
        width: 100%;
    }

    .status-container{
        flex-direction: column;
        width: 100%;
    }


}